.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  a {
    flex: 1;
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
    font-weight: bold;
    color: var(--primaryBlue);
    cursor: pointer;
    &:hover {
      color: var(--primaryOrange);
    }
    &.active {
      border-bottom: 2px solid var(--primaryBlue);
      &:hover {
        color: var(--primaryBlue);
      }
    }
  }
}
