header {
  width: 100%;
  background-color: var(--primaryOrange);
  > .app-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 60px;
    h2 {
      font-size: 16px;
    }

    img {
      display: none;
    }

    > div.avatar {
      width: 35px;
      height: 35px;
      background-color: white;
      color: var(--primaryOrange);
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media only screen and (min-width: 1024px) {
      height: 100px;
      img {
        display: block;
      }
    }
  }
}

.infos {
  margin-bottom: 20px;
  h2 {
    color: var(--primaryOrange);
  }
  p {
    font-size: 12px;
    font-weight: bold;
  }

  @media only screen and (min-width: 1024px) {
    h2 {
      font-size: 36px;
    }

    p {
      font-size: 18px;
    }
  }
}
