<header aria-label="Header da página">
  <div class="app-wrapper">
    <h2>
      Olá, João.
    </h2>
    <img src="../assets/itau-logo.svg" alt="Logo do itaú" />
    <div class="avatar" aria-label="Avatar do usuário">
      <span>J</span>
    </div>
  </div>
</header>
<app-featured-header></app-featured-header>
<div *ngIf="error" class="app-error">
  Oops, algo deu errado. Tente novamente mais tarde
</div>
<div class="app-wrapper">
  <app-navbar
    [activeNavBar]="navTitle"
    [onChange]="toggleNavBarTitleAndCleanFilterName"
  ></app-navbar>
  <div class="infos">
    <h2>{{ navTitle }}</h2>
  </div>
  <app-select
    [items]="navTitle === 'Por Categoria' ? categoriesItems : monthsSelectItems"
    [onChange]="onChangeFilterName"
    *ngIf="navTitle !== 'Lançamentos'"
  ></app-select>
  <app-generic-list
    [items]="billsList"
    [filterName]="filterName"
    *ngIf="navTitle === 'Lançamentos' || filterName"
  ></app-generic-list>
</div>
