<div class="dropdown-container" *ngIf="items">
  <select class="select-text box" #select (change)="onChange(select.value)">
    <option class="select-text" selected>Selecione uma opção</option>
    <option
      class="select-text"
      *ngFor="let item of items"
      [value]="item.nome || item.name"
    >
      {{ item.name || item.nome }}
    </option>
  </select>
</div>
