.container {
  height: 200px;
  margin-bottom: 40px;
  background-color: var(--primaryBlue);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 12px;
    margin-bottom: 40px;
  }
  @media only screen and(min-width: 1024px) {
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 24px;
    }
  }
}
