:root {
  --primaryOrange: #eb7201;
  --primaryBlue: #004990;
  --containerSize: 1280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.app-error {
  width: 100%;
  text-align: center;
}

.app-wrapper {
  max-width: var(--containerSize);
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
  @media only screen and (min-width: 1024px) {
    padding: 0;
  }
}

.box {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 0.2);
  border-radius: 4px;
}

select {
  border: none;
  background: transparent;
}

ul,
li {
  list-style: none;
}
