<div class="list-container">
  <div class="row">
    <span>Origem</span>
    <span>Valor</span>
    <span>Categoria</span>
    <span>Mês</span>
  </div>
  <div class="content">
    <div class="card box" *ngFor="let item of items | filter: filterName">
      <span>{{ item.origem }}</span>
      <span>{{ item.valor }}</span>
      <span>{{ item.categoria }}</span>
      <span>{{ item.mes }}</span>
    </div>
  </div>
</div>
