.list-container {
  width: 100%;

  span {
    font-size: 12px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(207, 207, 207);
    margin-bottom: 20px;
    padding-bottom: 20px;
    span {
      flex: 1;
      color: var(--primaryOrange);
      font-weight: bold;
      text-align: left;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    .card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 60px;
      max-height: 100px;
      margin-bottom: 20px;
      span {
        word-break: break-word;
        padding-left: 10px;
        flex: 1;
        color: var(--primaryBlue);
        font-weight: bold;
      }

      &:hover {
        border-left: 3px solid var(--primaryBlue);
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  span {
    font-size: 14px;
  }

  .row {
    padding: 0px 10px 20px 10px;
  }
}

.select-text {
  font-weight: bold;
  color: var(--primaryBlue);
  padding-left: 10px;
}
.dropdown-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  select {
    height: 45px;
    width: 100%;
  }
  label {
    margin-left: 10px;
    font-weight: bold;
    position: absolute;
    color: var(--primaryBlue);
    &.hidden {
      display: none;
    }
  }
}
